.dropdown-menu {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
  }
  
  .dropdown-item {
    color: #333;
    font-size: 14px;
  }
  
  .dropdown-item:hover {
    background-color: #e9ecef;
  }

  .custom-dropdown .dropdown-toggle {
    background-color: #874987; 
  }
  